flows.json
[{"id":"ba2636a.43fbec8","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"39277833.3b3018","type":"ibmiot in","z":"ba2636a.43fbec8","authentication":"apiKey","apiKey":"8f2299db.d69ed8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"456","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT ","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":280,"wires":[["1c07ce99.2679f1","ad7fb01c.3946a","8872181b.ecb858"]]},{"id":"b6a1de7a.4fa5c","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"190a3187.b5103e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"7c18f671.d4f4e8","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"190a3187.b5103e","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":280,"wires":[]},{"id":"9b887f12.67034","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"190a3187.b5103e","order":3,"width":0,"height":0,"gtype":"donut","title":"Pressure","label":"pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":360,"wires":[]},{"id":"23d1fcac.6149d4","type":"ui_button","z":"ba2636a.43fbec8","name":"","group":"89579eeb.1efda","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":240,"y":40,"wires":[["c742065d.979bf8","f1dcf98a.e5ee28"]]},{"id":"a23d042e.ed7798","type":"ui_button","z":"ba2636a.43fbec8","name":"","group":"89579eeb.1efda","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":230,"y":100,"wires":[["c742065d.979bf8","f1dcf98a.e5ee28"]]},{"id":"c742065d.979bf8","type":"ibmiot out","z":"ba2636a.43fbec8","authentication":"apiKey","apiKey":"8f2299db.d69ed8","outputType":"cmd","deviceId":"123","deviceType":"Motor","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":80,"wires":[]},{"id":"bc38001c.2c474","type":"inject","z":"ba2636a.43fbec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["d1b513ab.23ae8"]]},{"id":"d1b513ab.23ae8","type":"http request","z":"ba2636a.43fbec8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Amravati,%20IN&appid=dc5844cf9b6a99466e814724718ef367","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":520,"wires":[["a1413381.6e9a","fa099266.696f7","782d3047.534b4","f1dcf98a.e5ee28"]]},{"id":"a1413381.6e9a","type":"function","z":"ba2636a.43fbec8","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["d347b2a8.5427c","f1dcf98a.e5ee28"]]},{"id":"fa099266.696f7","type":"function","z":"ba2636a.43fbec8","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["e5b10d10.4202f","f1dcf98a.e5ee28"]]},{"id":"782d3047.534b4","type":"function","z":"ba2636a.43fbec8","name":"Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["b0e8a4cf.7008c8","f1dcf98a.e5ee28"]]},{"id":"d347b2a8.5427c","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"5f064667.ac2c08","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"kelvin","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#0cbbb8","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"e5b10d10.4202f","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"5f064667.ac2c08","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":520,"wires":[]},{"id":"b0e8a4cf.7008c8","type":"ui_gauge","z":"ba2636a.43fbec8","name":"","group":"5f064667.ac2c08","order":7,"width":0,"height":0,"gtype":"donut","title":"Pressure","label":"pa","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":600,"wires":[]},{"id":"f1dcf98a.e5ee28","type":"debug","z":"ba2636a.43fbec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":140,"wires":[]},{"id":"1c07ce99.2679f1","type":"function","z":"ba2636a.43fbec8","name":"Temperature","func":"msg.payload =msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["b6a1de7a.4fa5c","f1dcf98a.e5ee28"]]},{"id":"8893115b.62c41","type":"ui_text","z":"ba2636a.43fbec8","group":"2cbf6951.40eb16","order":0,"width":"6","height":"2","name":"","label":"Welcome to Smart Agriculture System","format":"{{msg.payload}}","layout":"row-center","x":790,"y":60,"wires":[]},{"id":"ad7fb01c.3946a","type":"function","z":"ba2636a.43fbec8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["7c18f671.d4f4e8","f1dcf98a.e5ee28"]]},{"id":"8872181b.ecb858","type":"function","z":"ba2636a.43fbec8","name":"Pressure","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["9b887f12.67034","f1dcf98a.e5ee28"]]},{"id":"8f2299db.d69ed8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3bl3ke.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"190a3187.b5103e","type":"ui_group","z":"","name":"IoT Simulator ","tab":"be7cbd25.412f7","order":2,"disp":true,"width":"7","collapse":false},{"id":"89579eeb.1efda","type":"ui_group","z":"","name":"Option","tab":"d5a13c46.60c5d","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f064667.ac2c08","type":"ui_group","z":"","name":"Weather API Data","tab":"3723395b.cf3706","order":1,"disp":true,"width":"6","collapse":false},{"id":"2cbf6951.40eb16","type":"ui_group","z":"","name":"Smart Agriculture System","tab":"b2394039.8f7b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"be7cbd25.412f7","type":"ui_tab","z":"","name":"Field Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d5a13c46.60c5d","type":"ui_tab","z":"","name":"Motor Status","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3723395b.cf3706","type":"ui_tab","z":"","name":"Weather Forcast","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b2394039.8f7b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]